@font-face {
    font-family: "CeraPro";
    src: url(fonts/CeraPro-Regular.woff2);
    font-weight: normal;
}

@font-face {
    font-family: "CeraPro";
    src: url(fonts/CeraPro-Bold.woff2);
    font-weight: bold;
}

* {
    margin: 0;
}

.body{
    box-sizing: border-box;
    font-family: "CeraPro", sans-serif;
    color: #3D3D3D;
}

.wraper{
width: 1232px;
margin: 0 auto;
}

.categories{
    width: 292px;
    background-color: #FBFBFB;
    padding-left: 18px;
    padding-top: 14px;
    float: left;
    margin-right: 36px;
}

.list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 30px;
    line-height: 40px;
    font-size: 15px;
}

.list li:hover{
    color: #46A358;
}

.saleimg{
    margin-left: -15px;
    padding-top: 377px;
}

.h2{
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    padding-left: 18px;
    margin-bottom: 7px;
}

.navigation{
    font-size: 15px;
    line-height: 16px;
    margin-left: 16px;
    margin-right: 16px;
}

.elem{
    text-decoration: none;
    color: #3D3D3D;
    padding-right: 37px;
}

.elem:hover{
    color: #46A358;
}

.sort{
    padding-left: 370px;
}

.goods{
    padding-top: 38px;
}

.main{
    float: left;
    width: 872px;
}

.background{
    width: 258px;
    height: 300px;
    background-color: #FBFBFB;
}

.box{
    width: 258px;
    height: 350px;
    float: left;
    margin-bottom: 70px;
    margin-left: 16px;
    margin-right: 16px;
}

.price{
    color: #46A358;
    font-size: 18px;
    font-weight: bold;
    line-height: 16px;
}

.name{
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 6px;
    margin-top: 12px;
}

.img{
    display: block;
    margin: auto;
}

.pages{
    float: right;
    padding-right: 32px;
}

.square{
    text-decoration: none;
    color: #3D3D3D;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    min-width: 35px;
    height: 29px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding-top: 6px;
    font-size: 18px;
}

.square:hover{
    background-color: #46A358;
    color: white;
}